<html xmlns:th="https://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>개시글 조회</h1>
	<label>제목 : </label>
	<a name="title" th:text="${read.title}"></a><br />

	<label>작성자 : </label>
	<a name="writer" th:text="${read.writer}"></a><br />

	<label>내용</label><br/>
	<textarea name="content" th:inline="text">[[${read.content}]] </textarea><br/>
<a th:href="@{/board/modify(board_no=${read.board_no})}">게시글 수정</a>
<a th:href="@{/board/remove(board_no=${read.board_no})}">게시글 삭제</a>
					

</body>
</html>